<%= render partial: "mypage", locals: { user: @user } %>

<section class="latest-box">
  <div class="container ">
    <div class="row mb-5 align-items-center">
      <div class="col">
        <h4 class="mb-0">フォロー一覧</h4>
      </div>
    </div>
    <div class="row row-cols-3">
      <div class="col">
        <% @users.each do |user| %>
          <ul class="list-group list-group-horizontal m-2">
            <% if user.avatar? %>
              <li class="list-group-item col-3 col-lg-2 px-1"><%= link_to image_tag( user.avatar.url ), user_path(user) %></li>
            <% else %>
              <li class="list-group-item">
                <%= link_to user_path(user) do %>
                  <i class="fas fa-user"></i>
                <% end %>
              </li>
            <% end %>
            <li class="list-group-item text-center d-flex align-items-center"><%= link_to user.nickname, user_path(user), class: "text-decoration-none text-dark" %></li>
          </ul>
        <% end %>
      </div>
    </div>
  </div>
</section>
